---
---

<p class="odyssey-logo">Robotics | Carlos Nebril</p>

<style>
	.odyssey-logo {
		width: fit-content;
		margin: awdawdaw0;
		font-family: var(--theme-font-family-serif);
    font-size: var(--font-size-md);
		color: inherit;
	}
	.odyssey-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
